services:
  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=petmanagement
      - POSTGRES_USER=petmanagement
      - POSTGRES_DB=petmanagement